<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="2.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>eudic.applescript</string>
			<key>Image File</key>
			<string>EuDic.png</string>
			<key>Long Running</key>
			<true/>
			<key>Title</key>
			<string>EuDic</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.eusoft.eudic</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://www.eudic.net/v4/en/app/eudic</string>
			<key>Name</key>
			<string>EuDic</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search EuDic with the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.ashonfire.extension.EuDic</string>
	<key>Extension Name</key>
	<string>EuDic</string>
</dict>
</plist>
